<main>
  <header class="header">
    <img
      src="../../../assets/img/header-registry.png"
      alt="Imagen de inicio de registro"
    />
    <div class="title">
      <h1>Welcome to the Wires</h1>
    </div>
  </header>
  <form action="">
    <h2 class="form-title">Sign In</h2>

    <div class="inputs-list">
      <app-input-item name="email" label="Email Adress"></app-input-item>
      <app-input-item name="Password" label="Password"></app-input-item>
    </div>

    <div>
      <button class="button-form">Sigin In</button>
    </div>

    <div class="inputs-list">
      <div class="checkbox-item">
        <input id="checkbox" name="checkbox" type="checkbox" />
        <label for="checkbox">Remember me</label>
      </div>
    </div>

    <div class="form-footer">
      <p>All Right Reserved. WIRES</p>
      <div class="rights">
        <a href="#">Privacy Policy</a>
        <span></span>
        <a href="#">Terms & Conditions</a>
      </div>
    </div>
  </form>
</main>
