<main>
  <header>
    <img class="logo" src="../assets/img/logo-yellow.png" alt="Logo de wires" />
  </header>

  <section class="section section-1">
    <div class="bg-graffic"></div>

    <div class="section-content">
      <h1 class="section-title">
        Create a message to share <br />
        with your friends.
      </h1>
      <h2 class="section-subtitle">
        Create your first message following the first steps:
      </h2>

      <div class="attribute-list">
        <div class="attribute-item">
          <img
            class="attribute-item-image"
            src="../assets//img/attribute-1.png"
            alt=""
          />
          <p class="attribute-text">
            Lorem ipsum dolor sit amet consectetur. Non facilisi eu porta in
            enim at enim ante pellentesque.
          </p>
        </div>
        <div class="attribute-item">
          <img
            class="attribute-item-image"
            src="../assets//img/attribute-2.png"
            alt=""
          />
          <p class="attribute-text">
            Eu pulvinar ultrices in quisque. Tristique erat rutrum morbi
            habitasse massa mi nisi. Dictum condimentum vestibulum non vitae
            tempor.
          </p>
        </div>
      </div>
    </div>

    <div class="section-image">
      <img
        src="../assets/mobile/Samsung Galaxy S20 5G-3.png"
        alt="Imagen de demostraciond el funcionamiento de la app"
      />
    </div>
  </section>

  <section class="section section-2">
    <div class="bg-graffic"></div>

    <div class="section-image">
      <img
        src="../assets/mobile/Samsung Galaxy S20 5G.png"
        alt="Imagen de demostraciond el funcionamiento de la app"
      />
    </div>

    <div class="section-content">
      <h1 class="section-title">
        Create a message to share <br />
        with your friends.
      </h1>
      <h2 class="section-subtitle">
        Create your first message following the first steps:
      </h2>

      <div class="attribute-list">
        <div class="attribute-item">
          <p class="attribute-text">
            Lorem ipsum dolor sit amet consectetur. Non facilisi eu porta in
            enim at enim ante pellentesque.
          </p>
          <img
            class="attribute-item-image"
            src="../assets//img/attribute-3.png"
            alt=""
          />
        </div>
        <div class="attribute-item">
          <p class="attribute-text">
            Eu pulvinar ultrices in quisque. Tristique erat rutrum morbi
            habitasse massa mi nisi. Dictum condimentum vestibulum non vitae
            tempor.
          </p>
          <img
            class="attribute-item-image"
            src="../assets//img/attribute-4.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="bg-graffic"></div>

    <div class="footer-qrcode">
      <img src="../assets/icon/qr-1.png" alt="Condigo qr de IOS">
      <h3>Scan to download <br> IOS & Android</h3>
    </div>

    <div class="platforms">
      <div class="platforms-items selected">
        <img src="../assets/icon/app-store-black.png" alt="">
      </div>
      <div class="platforms-items">
        <img src="../assets/icon/android-black.png" alt="">
      </div>
      <div class="platforms-items">
        <img src="../assets/icon/app-store-black.png" alt="">
      </div>
      <div class="platforms-items">
        <img src="../assets/icon/apple-black.png" alt="">
      </div>
      <div class="platforms-items">
        <img src="../assets/icon/desktop-black.png" alt="">
      </div>
      <div class="platforms-items">
        <img src="../assets/icon/linux-black.png" alt="">
      </div>

      <div class="platforms-items-movil selected">
        <img src="../assets/icon/app-store.png" alt="">
      </div>
      <div class="platforms-items-movil">
        <img src="../assets/icon/android.png" alt="">
      </div>
      <div class="platforms-items-movil">
        <img src="../assets/icon/apple.png" alt="">
      </div>
      <div class="platforms-items-movil">
        <img src="../assets/icon/desktop.png" alt="">
      </div>
    </div>
  </footer>
</main>
