<main>
  <header class="header-home">
    <div class="header-logo">
      <img src="../../../assets//img/logo-yellow.png" alt="" />
    </div>

    <div class="hader-actions">
      <div class="new-massages-actions">
        <span>2</span>
        <img src="../../../assets/icon/chatbox-ellipses-1.png" alt="" />
      </div>
      <div class="menu-actions">
        <img src="../../../assets/icon/menu.png" alt="" />
      </div>
    </div>
  </header>

  <section class="create-message">
    <h2 class="create-message-title">Create Message</h2>

    <form action="">
      <app-input-item></app-input-item>
      <app-input-item></app-input-item>

      <div class="form-button">
        <button>Share</button>
      </div>
    </form>
  </section>

  <div class="messages-list">
    <app-card-message></app-card-message>
    <app-card-message></app-card-message>
    <app-card-message></app-card-message>
  </div>
</main>
