<main>
  <header class="header">
    <img
      src="../../../assets/img/header-registry.png"
      alt="Imagen de inicio de registro"
    />
    <div class="title">
      <h1>Welcome to the Wires</h1>
    </div>
  </header>
  <form action="">
    <h2 class="form-title">Sign In</h2>

    <div class="inputs-list">
      <div class="input-item">
        <label for="nickname">Nickname</label>
        <input
          id="nickname"
          name="nickname"
          type="text"
          placeholder="Nickname"
        />
      </div>
      <div class="input-item">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Full name" />
      </div>
      <div class="input-item">
        <label for="email">Email Adress</label>
        <input id="email" name="email" type="text" placeholder="Email Adress" />
      </div>
      <div class="input-item">
        <label for="">Password</label>
        <input
          id="password"
          name="password"
          type="text"
          placeholder="Password"
        />
      </div>
    </div>

    <div>
      <button class="button-form">Create</button>
    </div>

    <div class="form-footer">
      <p>All Right Reserved. WIRES</p>
      <div class="rights">
        <a href="#">Privacy Policy</a>
        <span></span>
        <a href="#">Terms & Conditions</a>
      </div>
    </div>
  </form>
</main>
