@use "../../../theme/colors";
@use "../../../theme/fonts";
@use "../../../theme/media";


.header {
  img {
    width: 100vw;
    margin-bottom: -10px;
  }
  .title {
    padding: 0.8em 8%;
    background: rgb(80, 87, 94);
    background: linear-gradient(
      180deg,
      rgba(80, 87, 94, 1) 0%,
      rgba(25, 35, 45, 1) 100%
    );
    h1 {
      font-size: 1.7rem;
      color: #FFFFFF;
    }
  }
}

form {
  padding: 2em 5%;

  .form-title {
    text-align: center;
    color: colors.$secondary;
  }

  .inputs-list {
    margin-top: 2em;
    margin-bottom: 3em;
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .6rem;
    color: #727272;
    margin-top: 3em;
    .rights {
      display: flex;
      span {
        height: 6px;
        width: 1px;
        background-color: #727272;
        margin: 0 5px;
      }
      a {
        color: colors.$secondary;
      }
    }
  }
}

.input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  label {
    font-weight: bold;
    color: colors.$secondary;
  }
  input {
    padding: 10px;
    border: none;
  }
}

.button-form {
  border: none;
  width: 100%;
  padding: .5em;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 30px;
  background-color: #D9D9D9;
}
