<section>
  <div class="message-content">
    <h2>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry
    </h2>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book.
    </p>
    <div class="footer-content">
      <p>10:25 am 20/11/22</p>
      <h3>Daniel Amadeus</h3>
    </div>
  </div>
  <div class="add-comment">
    <div class="header-comment"></div>
    <div class="content-comment">
      <input type="text" placeholder="comment of the publication" />
      <div class="footer-comment">
        <div class="reactions">
          <img src="../../../assets/icon/emotions.png" alt="" />
        </div>
        <button>Send</button>
      </div>
    </div>
  </div>

  <button class="more-comment">+</button>
</section>
